<div class="container">

      <div class="flexbox"> 
        <h1> HI, <br> MY NAME IS <span class="red"> DIRK </span> MUELLER.</h1>
       <h1> I AM A FRONTEND DEVELOP<span class="other">E</span>R</h1>

        <div class="button-container">
        <a href="#contact" class="btn"><span>Contact Me</span></a>
        </div>

      </div>
       
    


  <div  class="mainpicture ">
    <img src="assets/img/Bild.jpg" alt="">
  </div>

</div>


<app-curriculum></app-curriculum>
<app-skills></app-skills>
<app-soft></app-soft>
<app-contact></app-contact>
