
<div class="container">  
	

		<footer class="footer-distributed">

			<div class="footer-right">

				
				<a href="https://twitter.com/DirkMller6"><i class="fa fa-twitter"></i><img src="assets/icon/Twitter Logo 1.png"></a>
				<a href="https://www.linkedin.com/in/dirk-m%C3%BCller-b61252206/"><i class="fa fa-linkedin"></i><img src="assets/icon/LinkedIn 1.png"></a>
				<a href="https://github.com/dogge27"><i class="fa fa-github"></i><img src="assets/icon/github-fill.png"></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" routerLink="/">Home</a>

					<a routerLink="/datenschutz">Datenschutz</a>

					<a routerLink="/imprint">Impressum</a>

					

					

					
				</p>

				<p>Dirk Mueller &copy; 2022</p>
			</div>

		</footer>