<div class="wrapper">
    <h1 id="contact" >Contact me ...</h1>
    <form action="http://dirk-mueller.developerakademie.net/send_mail.php" method="POST">
      <div class="field">
        <input type="text" id="name" name="name" placeholder="Who are you?">
        <label for="name">Name</label>
      </div>
      <div class="field">
        <input type="mail" id="email" name="email" placeholder="mail..." />
        <label for="email">E-Mail</label>
      </div>
      <div class="field">
        <textarea id="msg" rows="4" name="msg" placeholder="Your message..."></textarea>
        <label for="msg">Message</label>
      </div>
      <input class="button" type="submit" value="Send" />
    </form>
  
  </div>