<header >

    <img  routerLink="/" src="assets/icon/logo_white_large.png">
    

    <div class="links" >
        <a routerLink="/">Home</a>
      
        <a href="#overhead">Curriculum</a>
        <a href="#projects">Skills and Projects</a>
        <a  routerLink="about">About me </a>

       
    </div>
  
    
<nav role="navigation">
  <div id="menuToggle">
   
    <input type="checkbox" />
    
   
    
    <span></span>
    <span></span>
    <span></span>
    
    
    <ul id="menu">
      <a routerLink="/"><li>Home</li></a>
      <a href="#overhead"><li>Curriculum</li></a>
      <a href="#projects"><li>Skills and Projects</li></a>
      <a routerLink="about"><li>About me</li></a>
      
    </ul>
  </div>
</nav>
</header>
