
<h1 id="overhead">Currriculum</h1>
<section id="timeline">


    <!-- <div class="tl-item">
      
  
          <div class="tl-bg" style="background-image: url(https://www.wieland.com/assets/images/d/header_wieland_ny-1cdf09e4.jpg)"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">1989</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">End of School</h1>
        <p>End of Hauptschule </p>
      </div>
  
    </div> -->
  
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://www.wieland.com/assets/images/6/kachel_careers_spot-eeeb207b.jpg)">
        
      </div>
      
      <div class="tl-year">
        <p class="f2 heading--sanSerif">1991</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Training</h1>
        <p>Training as a metal worker </p>
      </div>
  
    </div>
  
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://www.wieland.com/assets/images/2/home_slider_empowering_success_thenewbrandpage-c8c3fca2.jpg
  )"></div>
      
      <div class="tl-year">
        <p class="f2 heading--sanSerif">1995</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Corovin GmbH Peine</h1>
        <p> Product Quality Management</p>
      </div>
  
    </div>
      <!-- <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://www.wieland.com/assets/images/9/responsibility_3-54e5a756.jpg
  )"></div> -->
      
      <!-- <div class="tl-year">
        <p class="f2 heading--sanSerif">1996</p>
      </div>
  
      <div class="tl-content">
        <h1>Fachgymnasium Hannover</h1>
        <p> Mittlere Reife </p>
      </div> -->
  
    <!-- </div> -->
  
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://www.wieland.com/assets/images/3/strips_sheets_coilsdrums-b0b72ee3.png)"></div>
      
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2000</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">BBG Peine</h1>
        <p>IT-Assistant </p>
      </div>
  
    </div>
  
    <!-- <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://www.wieland.com/assets/images/b/header_wieland_eMobility_1-f1ea109f.jpg)"></div>
      
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2004</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Teutloff Schule Braunschweig</h1>
        <p> Tehnischer Assistent für Informatik</p>
      </div>
  
    </div>
   -->
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://www.wieland.com/assets/images/6/kachel_careers_spot-eeeb207b.jpg)"></div>
      
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2016</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">TÜV Nord Akademie Braunschweig</h1>
        <p> Fachinformatiker</p>
      </div>
  
    </div>
    
      <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://www.wieland.com/assets/images/3/strips_sheets_coilsdrums-b0b72ee3.png)"></div>
      
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2019</p>
      </div>
  
      <div class="tl-content">
        <h1>Volkswagen Financial Service</h1>
        <p>First-Level-Support</p>
      </div>
  
    </div>
  
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://www.wieland.com/assets/images/2/home_slider_empowering_success_thenewbrandpage-c8c3fca2.jpg)"></div>
      
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2021</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Developer Akademie</h1>
        <p> Frontend Web Developer</p>
      </div>
  
    </div>
  
    
  
    
  
    
  </section>
  
