<div id="projects" class="wrapper">
    <h1>My Projects</h1>
    <div class="cols">
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(./assets/img/Pokemon.png)">
              <div class="inner">
                <p>Pokedex</p>
                <span>API</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <!-- <p>You need a pokemon ? Come in and find out </p> -->
                <a href="/pokedex/index.html"> <p>You need a pokemon ? Come in and find out </p></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(assets/img/Ring.jpg)">
              <div class="inner">
                <p>Ring of Fire</p>
                <span>Angular</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <a href="/ringoffire/index.html">Come and play with cards</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(assets/img/Opción.png)">
              <div class="inner">
                <p>El POLLO LOCO</p>
                <span>Javascript</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <a href="/El/index.html">You want to play a Game ? Play El Pollo LOCO</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
              <div class="inner">
                <p>CRM</p>
                <span>Angular</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Try out this CRM</p>
              </div>
            </div>
          </div>
        </div>
        
        
        