

<h1>My Skills </h1>
<div class="skills">

  <div class="skillbox">
  <div class="achievement-box-icon">
    
    <img src="assets/icon/html5.png" alt="">
    
    <p>HTML5</p>
  </div>
  </div>
  

  <div class="skillbox">
  <div class="achievement-box-icon">
    <img src="assets/icon/css3.png" alt="">
    <p>CSS3</p>
  </div>
</div>
  

<div class="skillbox">
  <div class="achievement-box-icon">
    <img src="assets/img/Javascript.png" alt="">
    <p>Javascript</p>
  </div>
</div>
  
</div>
<div class="skills-second">
  <div class="skillbox">
  <div class="achievement-box-icon">
    <img src="assets/icon/api.png" alt="">
    <p>API</p>
  </div>
</div>
 
  

<div class="skillbox">
  <div class="achievement-box-icon">
    <img src="assets/img/angular.png" alt="">
    <p>Angular</p>
  </div>
</div>
  
  

<div class="skillbox">
  <div class="achievement-box-icon">
    <img src="assets/icon/pngegg (1).png" alt="">
    <p>Database </p>
  </div>
</div>
  
</div>

<div class="skill-alone">
  <div class="skillbox">
  <div class="achievement-box-icon">
    <img src="assets/icon/Group.png" alt="">
    <p>Scrum</p>
  </div>
</div>
  </div>
  
   
     
    
  