body {
  background-color: rgb(25, 34, 50);
}
.skills{

// padding: 170px;  
margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-second{

//   padding: 170px;  
// margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-alone{
  // margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;

}


h1{
  font-size: 2.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  color: white;
  text-align: center;
  margin: 2rem 0;
  margin-top: 100px;
}
span {

  color: white;
}
.box{

  background-color: white;
  height: 125px;
  width: 125px;
}


.achievement-box-icon {
  height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 1px; */
    background-color: white;
    border-radius: 50%;
    margin-bottom: 122px;
    box-shadow: 0 5px 10px 5px #00000026;
    
}
  p{
    color: black;
    padding-top: 150px;
    font-size: 18px;
    text-align: center;
  }

.skillbox{

  height: 150px;
  width: 200px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 20px;
}

// .iconback{
//   height: 80px;
//   width: 80px;
//   background-color: blue;
//   display: flex;
//   justify-content: center;
//   align-items: center;
  
// }

img{
  height: 30px;
  width: 30px;
  // padding-right: 30px;
  
  
  object-fit: cover;
  position: absolute;
  
 
}

@media (max-width: 1000px){

   h1{

    margin: 10rem
   }
  .skills{
margin-top: 0;
padding: 0;
    
    
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    }
  //   .achievement-box-icon {
  //     height: 100px;
  // width: 100px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // padding-bottom: 100px;
      
  //   }   
    .skills-second{
      margin-top: 0;
      padding: 0;
    
    
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    } 
    .skill-alone{
     
    margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    }
    .skillbox{
margin: 20px;
      height: 120px;
      width: 120px;
      background-color: white;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }
}

  
 


